<div style="background-color: bisque; ">
  <app-header></app-header>
</div>
<nav >
  <div class="nav_item"> <a routerLink="/czas-lokalny" routerLinkActive="activate">Czas lokalny</a> </div>
  <div class="nav_item" > <a routerLink="/historia" routerLinkActive="activate">Historia</a> </div>
  <div class="nav_item"> <a routerLink="/mapa" routerLinkActive="activate">Mapa</a> </div>
</nav>
<div style="background-color: bisque; color: darkcyan; min-height:700px; text-align: center; font-size: 30px; padding-top: 100px; clear: both;">
  <router-outlet></router-outlet>
</div>
