<p >
    osady istniały tu przed najazdem Mongołów
1243
pierwsza wzmianka o Biskupicach, osadzie na terenie dzisiejszego Zabrza
25 marca – wystawienie przez księżną kaliską Wiolę dokumentu, w którym zrzeka się na rzecz biskupa wrocławskiego prawa poboru daniny i innych opłat ville [...] Biscupici dicitur cirka Bitom
1260 – rozszerzenie przez księcia opolskiego Władysława przywilejów, nadanych biskupowi wrocławskiemu w 1243. Przyczyniło się to do zwiększenia osadnictwa w rejonie Biskupic
1295–1305
pierwsza wzmianka o Zabrzu (Sadbre sive Cunczindorf, gdzie Sadbre interpretowane jest jako miejsce za debrami – zarośniętymi dołami z płynącym wśród wzgórz strumieniem; sive to łacińskie „albo”, a Cunczindorf jest interpretowane jako „wieś Konradów”); w dokumencie Rejestr Ujazdu części Liber fundationis episcopatus Wratislawiensis (Księga uposażeń biskupstwa wrocławskiego), dokument wymienia wśród innych osad: Biskupice, Zaborze, Grzybowice[11]
sołtys tworzy osadę, chłopi wolni od podatków, tereny przydzielone osadnikom – po 60 łanów
1570 – właścicielem Zabrza został czeski szlachcic Szambor Dluhomil, który po zagarnięciu części ziemi chłopskiej założył alodium z drewnianym dworem
1639 – w okresie wojny trzydziestoletniej w Zabrzu i Sośnicy wojska Ernsta von Mansfelda grabią żywność
1642 – nowym właścicielem został Aleksander Bielski, który na miejscu drewnianego zbudował murowany piętrowy dwór, stajnie, owczarnię, słodownię i gorzelnię
1672 – Zabrze zamieszkiwało jedynie 34 gospodarzy[11]
1675 – nabycie dóbr zabrzańskich przez kanclerza księstwa opolsko-raciborskiego, barona Jerzego Welczka (Wilczka). Działalność Welczka i jego następców (wśród nich m.in. Bernhard III hrabia von Praschma) przyczyniła się do rozwoju gospodarczego tych terenów. W Zabrzu powstał browar, młyny wodne, tartaki
1731 – przy obecnej ul. Kondratowicza istniała kolonia nazywana Zabrzer Hammer (Kuźnica)
1743 – utworzenie w ramach wprowadzania nowego podziału administracyjnego Śląska powiatu bytomskiego. W jego skład weszły: Biskupice, Grzybowice, Makoszowy, Mikulczyce, Rokitnica, Zaborze i Zabrze wraz z istniejącymi w tym czasie koloniami i przysiółkami
1749 – właścicielami Zabrza zostaje ród Duninów
1769–1790 – właścicielem dóbr zabrzańskich jest Mathias von Wilczek[11] (Maciej Wilczek) w trakcie kolonizacji fryderycjańskiej nowych osad wokół Zabrza: Maciejowa, Doroty i Małego Zabrza. W pobliżu zabrzańskiego dworu powstała następna kolonia, nazywana początkowo Sand Kolonie (Kolonia Piaskowa) bądź Schloss Kolonie (Kolonia Zamkowa). Z czasem uzyskała urzędową nazwę Klein Zabrze, czyli Małe Zabrze. Jako ostatnią utworzono osadę Kończyce
1790 – odkrycie przez Salomona Isaaca z Brabancji na pograniczu dzielnic Zaborze i Pawłów łatwych w eksploatacji złóż węgla kamiennego o grubości 1 metra
1792–1822 – powstanie Kanału Kłodnickiego
1793
powstanie chłopskie
według spisu z tego roku Zabrze obejmowało: majątek ziemski, kościół, szkoła, 34 chłopów, 6 zagrodników, 2 młyny, 32 pracowników najemnych – łącznie 305 mieszkańców; Małe Zabrze: kolonia 12 zagród z 31 mieszkańcami; Zaborze: majątek ziemski, 15 chłopów, 7 zagrodników, 14 pracowników najemnych


Zabudowa kopalni „Guido” (oraz wyrobiska podziemne) przy ul. 3 Maja 91 z drugiej połowy XIX w. i początku XX w.
Robotnicze osiedla mieszkaniowe
Kolonia robotnicza Borsigwerke w dzielnicy Biskupice, wzniesiona w latach 1863–1871
Kolonia patronacka Ballestrema, w dzielnicy Rokitnica, wzniesiona w latach 1905–1913
Kolonia patronacka Huty Zabrze w dzielnicy Małe Zabrze, wzniesiona w latach 1903–1922
Kolonia robotnicza na ul. Poległych Górników przy secesyjnej Kopalni Mikulczyce
Osiedle dla robotników spółki „Preussag” w dzielnicy Zaborze, wzniesione w latach 1926–1927
Obiekty użyteczności publicznej
Hotel Admiralspalast przy ul. Wolności 305 z lat 1924–1928, wzniesiony w stylu modernistycznym
Budynek Muzeum Górnictwa Węglowego przy ul. 3 Maja 19, wzniesiony w latach 1874–1875
Gmach Sądu Rejonowego (oraz więzienie) przy ul. 3 Maja 21, wzniesiony w drugiej połowie XIX wieku i rozbudowany w 1907 r., wyremontowany w 2008 r.
Zespół zabudowy Szpitala Klinicznego Śląskiego Uniwersytetu Medycznego z drugiej połowy XIX wieku oraz lat 1900–1905 z charakterystyczną wieżą ciśnień z 1904 r.
Budynek Poczty Głównej przy pl. Dworcowym 1, wzniesiony w latach 1909–1911 w stylu neogotyckim[potrzebny przypis]
Ratusz gminny w Mikulczycach przy ul. Tarnopolskiej 80, wzniesiony w 1902 r.
Budynki mieszkalne
Pałac w Mikulczycach z przełomu XVIII i XIX wieku
dwór w Rokitnicy z 2. połowy XIX wieku
Secesyjna Kamienica pod Orłem przy ul. Dworcowej 9 wzniesiona w 1905 roku przez aptekarza dra Paul Skrzipietz
„Stalowy dom” przy ul. Cmentarnej, wzniesiony w 1927 r. w nowatorskiej technologii prefabrykatów stalowych
Zespół zabudowy osiedla mieszkaniowego przy ul. Wolności 149, pl. Słowiański 1–5, ul. Stanisława Wyspiańskiego 1–9[28]
Secesyjna kamienica z 1903 roku przy ulicy 3 Maja 38. Niegdyś znajdował się tu sklep mięsny z wnętrzem na planie nieregularnego wielokąta, z oddzielonym zapleczem. Wnętrze ozdobiono ceramicznymi płytkami o wzorach floralnych i geometrycznych, na jednym z wzorów przedstawiono głowę byka wkomponowaną we fryz[29].
Obiekty sakralne
</p>
